.header-background{
    width: 84.9%;
    height: 70px;
    background: #ffff;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
    transition: width 0.3s ease;
  }
  
  
  .header-background.sidebar-active {
    width: 100%; /* Full width when sidebar is active */
}

.btn-blue{
    background: #0858f7 !important;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffff !important;
    border-radius: 5px;
}
  
  header .logo{ 
    text-decoration: none !important;
  }
  
  header .logo img{
    width: 45px;
  }
  
  header .logo span{
    color: #1a1a1a;
    font-weight: 800;
    font-size: 24px;
  }
  header.header-background {
    background: #ffff; /* White background */
}

header button.rounded-circle{
min-width:40px !important;
height: 40px !important;
width: 40px !important;
transition: all 0.2s ease-in-out !important;
background: #f0f5ff !important;
}

header button.rounded-circle:hover svg{
    color: #0858f7 !important;
    font-size: 18px !important;
    transition: all 0.2s ease-in-out !important;
}

header button.rounded-circle svg{
    color: #292929 !important;
    font-size: 22px !important;
    transition: all 0.2s ease-in-out !important;
}

.myAcc{
    text-align:left !important;
    color: #0858f7 !important;
    text-transform: capitalize !important;
}

 .userImg{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #0858f7;
    padding: 2px;
    border-radius: 100%;
}

 .userImg .rounded-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;

}

 .userImg .rounded-circle img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.myAcc .userInfo h4{
    font-size: 16px;
    font-weight: 500;
    color: #292929;
    margin-bottom: 0px;
}

.myAcc .userInfo {
    padding-left: 10px;
}

.myAcc .userInfo p{
    margin-top:0px;
    font-size: 15px;
    font-weight: 600;
    color: #292929;
    opacity: 0.7;
}
  
#account-menu li{
    font-size: 14px !important;
    padding: 12px 15px !important;
}

#account-menu li svg{
    font-size: 20px !important;
    
}


#notification .MuiPaper-elevation{
    right: 240px !important;
    width: 300px !important ;
    left: auto !important;
    top:70px !important;
}


  

.dropdown_list .head{
    padding: 10px 0px;
}


.dropdown_list .head h4{
    font-size: 17px;
    font-weight: 600;
}

.dropdown_list li.MuiButtonBase-root{
    background: #ebf6ff;
    color: #000 !important;
    padding: 10px 15px !important;
} 

.dropdown_list li.MuiButtonBase-root:hover{
    background: #d3dce4;
}

.dropdownInfo{
    padding-left: 15px;
}

.dropdownInfo h4{
    font-size: 13px;
    font-weight: 500;
    white-space: break-spaces;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom:0px;
}

.dropdownInfo b{
    font-weight: 600;
    margin-right:5px;
}

.dropdown p{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 500;
}

.text-sky{
    color: #0858f7 !important;
}

.dropdown_list .scroll{
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btn-primary {
    color: #fff;
    background-color: #161c2d;
    border-color: #161c2d;
}


@media screen and (max-width:768px){
    #notification .MuiPaper-elevation {
        right: 0px !important;
        width: 300px !important;
        left: 32px !important;
        top: 70px !important;
      }
      header.header-background {
        background: #ffff;
        width: 100%;
    }
}