.main .sidebarWrapper .sidebar ul{
    margin-bottom: 0px;
    padding: 10px;
}

.main .sidebarWrapper .sidebar ul li{
    list-style: none;
    border-bottom: 1px solid #ebeaea;
}

.main .sidebarWrapper .sidebar ul li button{
    color: #000;
    text-align: left;
    justify-content: left;
    border-radius: 0px !important;
    padding: 9px 10px !important;
    align-items: center;
    text-transform: capitalize !important;
    /* font-weight: 400 !important; */
    font-family: "Open Sans", sans-serif !important;
    color: #000000 !important;
    font-size: 16px !important;
}
.main .sidebarWrapper .sidebar ul li button .icon{
display: flex;
align-items: center;
justify-content: center;
width: 25px;
height: 25px;
margin-right: 10px;
}

.main .sidebarWrapper .sidebar ul li button .icon svg{
   
   
    font-size: 22px;
}

.main .sidebarWrapper .sidebar ul li button *{
    color: rgb(13 79 122) !important;
}

.main .sidebarWrapper .sidebar ul li button .arrow{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-in-out;
}
.main .sidebarWrapper .sidebar ul li button:hover{
    background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button.active{
    background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar ul li button.active .icon svg{
    color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul li button.active .arrow{
    transform: rotate(90deg);
}

.main .sidebarWrapper .sidebar ul .submenu{
    padding: 0 45px;
    position: relative;
    transition: all 0.4s ease-in-out;
    height: 0px;
}

.main .sidebarWrapper .sidebar ul .submenu::before{
    content: "";
    width: 1px;
    height: 95%;
    position: absolute;
    top:0x;
    left:25px;
    background: rgba(0,0,0,0.2);
}

.main .sidebarWrapper .sidebar ul .submenu li{
    width:100%;
    list-style: none;
}

.main .sidebarWrapper .sidebar ul .submenu li a{
    color: #5e5d72 !important;
    text-decoration: none;
    display: block;
    padding: 6px 0px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.4s ease;
}
.main .sidebarWrapper .sidebar ul .submenu li a:hover{
    color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper{
    transition: all 0.4s ease-in-out ;
    height: 0px;
    overflow: hidden;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed{
    height:0px !important;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapsed .submenu{
    opacity: 0;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse{
    height:auto !important;
    overflow: inherit;
    opacity: 1;
    padding: 10px 0px !important;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.colapse .submenu{
    opacity: 1;
    height: auto !important;
}

.logo{ 
    text-decoration: none !important;
  }
  
.logo img{
    width: 30px;
  }
  
  .logo span{
    color: #1a1a1a;
    font-weight: 800;
    font-size: 20px;
    padding: 15px;
    
  }



 