@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif !important;
  box-sizing: border-box; /* Apply box-sizing globally */
  
}

html body {
  background: #f2f4f7;
}
::-webkit-scrollbar{width: 2px !important; height: 5px !important;}
::-webkit-scrollbar-thumb{background: #ebe9e9 !important;}
::-webkit-scrollbar-track{background: transparent !important;}

.main {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}
.main .sidebarWrapper{
  width: 18%;
  /* flex : 0 0 18%;  */
  transition: all 0.4s ease-in-out;
  /* transform: translateX(-100%); */
}

.main .sidebarWrapper.toggle{
  width: 0%;
  /* flex : 0 0 0%; */
  
}

.main .sidebarWrapper .sidebar {
  width: 15%; 
  height: 100vh;
  max-height: calc(100% -70px);
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 40px;
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  
}

.main .sidebarWrapper.toggle .sidebar{
  left: -100%;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar{
  width: 3px !important;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb{
  background: transparent !important;
}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar{
  background: #e4e7ec !important;

}

.content{
  transition: flex 0.3s ease; /* Smooth transition for content */
  padding-top: 0px; /* To account for header height */
  width: 100%;
  overflow-x: hidden;
}

.content.toggle {
  width:100%;
  transition: flex 0.5s ease-in; 
  /* flex : 0 0 80%;
  margin-left: 10%;
  margin-right: 10%; */
}


/* media query start */

@media screen and (min-width: 320px) and (max-width: 767px) {  
  header .logo{
    display: none !important;
  }
  .header-background {
    width: 100%;
    height: auto !important;
  }
  .light-icon{
    display: none !important;
  }

  .shoping-icon{
    display: none !important;
  }

  /* .emai-icon{
    display: none !important;
  } */
  .searchBox.d-flex.align-items-center {
    display: none !important;

  }
  header button.rounded-circle {
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    background: #f0f5ff !important;
    margin-top: 8px;
    z-index: 9999999999999999999999 !important;
}
.myAcc .userInfo h4 {
  font-size: 14px;
  font-weight: 600;
  color: #292929;
  margin-bottom: 0px;
}
.myAcc .userInfo p {
  margin-top: 0px;
  font-size: 11px;
  font-weight: 600;
  color: #292929;
  opacity: 0.7;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-colorPrimary.rounded-circle.mr-3.menu-mobile.css-1apkmlw-MuiButtonBase-root-MuiButton-root {
  position: relative;
  top: 11px;
}






.part3 {
  position: relative;
  top: -41px;
  
}



/* .main .sidebarWrapper .sidebar {
  width: 52%;
  height: 100vh;
  max-height: calc(100% -70px);
  top: 0px;
  left: 0px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 40px;
  transition: all 0.4s ease-in-out;
  z-index: 9999999999999999999999999999999;
} */






}

/* media query end */


@media  screen and (min-width: 576px) and (max-width: 767px) {  
  header .logo span {
    display: none;
}
.main .sidebarWrapper .sidebar {
  width: 25%;
  z-index: 9;
}
.d-flex.align-items-center.part1 {
  display: none !important;
}
.light-icon {
  display: none !important;
}

.shoping-icon{
  display: none !important;
}

.emai-icon{
  display: none !important;
}

}


@media (max-width: 768px) {
  .main .sidebarWrapper .sidebar {
      width: 46%; /* Smaller sidebar width on mobile */
      transform: translateX(0%);
  }
  
  .main .sidebarWrapper .sidebar.sidebar-open {
      transform: translateX(0%);
  }
  .main .sidebarWrapper .sidebar {
    /* width: 15%; */
    height: 100vh;
    margin-top: 112px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
}
}

